#titlePage {
    text-align: center;
    background-image: url("../images/theofficepic.jpg");
    background-size: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#header {
    text-align: center;
    border: 7px inset #9ea3a3;
    background-color: black;
    color: white;
  
    

}

div.sticky {
  position: -webkit-sticky;  
  position: sticky;
  top: 0;
  /* overflow: visible; */
  font-size: 20px;
  text-align: left;

}


#questionPage {
text-align: center;
background-image: radial-gradient(#f7fbfcf1, rgb(59, 207, 221));
/* overflow: auto; */
}

#button {
padding: 30px;
margin:300px;

}


#scorePage {
    text-align: center;
  
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

#Results{
    vertical-align: 50%;
}
